@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.ts";

@custom-variant dark (&:is(.dark *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0F0F0F inset !important; /* твій bgDark */
  -webkit-text-fill-color: #F5F5F5 !important; /* textPrimary */
  transition: background-color 9999s ease-in-out 0s;
}

@source inline("bg-gray-{50,{100..900..100},950}");